.arbitraj {
    padding: 6rem 0rem;
    background-color:#DFDFDD;
    max-width: 1100px;
    margin: auto;
}

.arbitraj .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 8rem;
    padding-top: 8rem;
    max-width: 1240px;
    margin: auto;
}


.arbitraj .header .par{
    padding: 1rem 3rem;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 2px solid black; 
}

.arbitraj .container .col-1 {
    text-align: start;
    justify-content:start;
    align-items: start;
    padding: 2rem;
}

.arbitraj .container .col-1 ul {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.col-1 ul .left {
    text-align: center;
}

.arbitraj .container .col-1 li  {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1rem 0rem;
    align-items: center;
    justify-content: center;
}


.arbitraj .container .col-2 {
    align-items: center;
    padding: 2rem 1rem;
}


.arbitraj .container .col-2 img {
    width: 100%;
    margin: 0;
    justify-content:center;
    align-items: center;
    border-radius: 70px;
}



@media screen and (max-width: 940px) {
    .arbitraj {
        padding: 3rem 0rem;
       
    }

    .arbitraj .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-bottom: 10rem;
        padding-top: 5rem;
    }
    .arbitraj .container .col-1 li  {
        
        padding: 1rem 0rem;
        
    }

    .arbitraj .container .col-2 img {
        width: 90%;
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .arbitraj .container .col-2 {
        padding: 7rem 0;
    }

    .arbitraj .container .col-1 {
        padding: 0rem;
        text-align: start;
        justify-content:center;
        align-items: center;
        margin: auto;
    }

    .arbitraj .header .par{
        padding: 1rem 2rem;
    }

}


@media screen and (max-width: 500px) { 

    .arbitraj .container .col-2 img {

        margin-left: 1rem;
        margin-top: 2rem;
    }

    .arbitraj .container .col-1 ul {
        
        margin-top: 40px;
    }

    .arbitraj .header .par{
        text-align: center;
    }

    
}